.container-form{
	margin-top: $space-2;
	.container-name{
		display: inline-flex;
		justify-content: space-between;
	}
		.container-city{
		display: inline-flex;
		justify-content: space-between;
	}
	@media screen and (max-width: 768px){
		.container-name{
			display: flex;
    		flex-direction: column;
  }	
  		.container-city{
  			display: flex;
    		flex-direction: column;
  		}
}
 @media screen and (max-width: 768px){
  }
}
.container-summary{
	margin-top: $space-3;
	background: $gray-ghost;
	max-height:  250px;
	padding-left: $space-2;
	.btn-center{
		padding: $space-base;
	}
	@media screen and (max-width: $tablet){
    padding-left: 0;
  }
	}



