.container-form{
	margin-top: $space-2;
	.step{
		a{
			color: $black;
		}
	}
	.container-name{
		display: inline-flex;
		.padd{
			padding-right: $space-2;
		}
		.first-name{
			width: 45%;
			margin-right: $space-4;
		}
		.last-name{
			width: 45%;
		}
	}
	.container-payment{
		display: inline-flex;
		width: 100%;
		.padd{
			padding-right: $space-2;
		}
	}
		.container-address{
			display: inline-flex;
		.form-address{
			width: 45%;
			margin-right: $space-4;
		}
		.form-address2{
			width: 45%;
		}
		}
		.container-city{
		display: inline-flex;
		.zip{
				width: 30%;
				margin-right: $space-2;
			}
		.city{
				width: 30%;
				margin-right: $space-2;
			}
		.state{
			width: 30%;
		}	
	}
		.step{
		display: inline-flex;
			.step1 {
				padding-right: $space-4;	
			}
			.step2 {
				padding-right: $space-4;	
			}
			.step3 {
				padding-right: $space-4;	
			}	
		}
		.form-phone{
			display: inline-flex;
			.phone{
				width: 45%;
			}
		}
			.container-gift{
				width: 100%;
				display: inline-flex;
				.gift-certificate{
					width: 40%;
					margin-right: $space-2;
				}
				.pin-number{
					width: 20%;
					margin-right: $space-2;
				}
				.btn-giftcard{
					width: 30%;
					.lbl-oculto{
						opacity: 0;
					}
				}
			}
			.billig-container{
				display: none;
			}
			.lbl-oculto{
						opacity: 0;
					}
			.step1{
			font-weight: bold;
			}
			.container-title{
				width: 100%;
				display: inline-flex;
				justify-content: space-between;
				img{
					max-height: $space-2;
				}
			}	
	@media screen and (max-width: 768px){
		.container-name{
			display: flex;
    		flex-direction: column;
    		.first-name{
    			padding-right: 0;
    			width: 100%;
    		}
  			.last-name{
  				width: 100%;
  			}
  }	
  		.container-city{
  			display: flex;
    		flex-direction: column;
    		.zip{
    			width: 100%;
    		}
    		.city{
    			width: 100%;
    		}
    		.state{
    			width: 100%;
    		}
  		}
  		.container-address{
  			display: flex;
    		flex-direction: column;
  		.form-address{
			width: 100%;
		}
		.form-address2{
			width: 100%;
		}
	}
		.form-phone{
			display: flex;
    		flex-direction: column;
			.phone{
			width: 100%;
			}
		}

}

}
.container-summary{
	margin-top: $space-3;
	background: $gray-ghost;
	max-height:  250px;
	padding-left: $space-2;
	.btn-center{
		padding: $space-base;
	}
	@media screen and (max-width: $tablet){
		
    padding-left: 0;
  }
	}



