.container-product{
 padding-left: $space-2;
  }
.img-big:hover{
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
.add-cart {
  input{
  max-width: $space-8;
  margin-right: $space-2;
  border: solid 1px $gray-lighter;
  padding-left: $space-3;
  }
}
.add-commentary{
  display: inline-flex;
  p{
    font-size: $space-2;
  }
  img{
    max-height: $space-3;
  }
}
.cost{
  display: inline-flex;
  input{
    display: none;
  }
  .new-cost{
  p{
  color: $color-success;
  padding-right: $space-4;
}
}
.old-cost{
  p{
  padding-right: $space-4;
  text-decoration:line-through;
  color: $color-danger;
  }
}
}
  @media screen and (max-width: 970px){
    .cost{
      input{
        display: block;
        max-width: $space-8;
        max-height: $space-3;
        margin-right: 0;
        border: solid 1px $gray-lighter;
        padding-left: $space-3;
  }
    }
    .add-cart{
      input{
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px){
    .container-product{
    padding-left: 0;
    } 
.in-stock{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
    .status{
      padding-left: $space-4;
    }
}
}
.container-descripcion{
  margin-right: $space-4;
}