.container-product{
 padding-left: $space-2;
  @media screen and (max-width: 768px){
    padding-left: 0;
  }
}
.img-big:hover{
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
.add-cart {
  input{
  max-width: $space-8;
  margin-right: $space-2;
  border: solid 1px $gray-lighter;
  }
}
.btn-success{
  @media screen and (max-width: 768px){
    max-width: 50%;
  }
}
.add-commentary{
  display: inline-flex;
  p{
    font-size: $space-base;
  }
  img{
    max-height: $space-2;
  }
}
.new-cost{
  color: $color-success;
}
.old-cost{
  text-decoration:line-through;
  color: $color-danger;
}
.container-descripcion{
  margin-right: $space-4;
}