.spacebottom{
	padding-bottom: $space-2;
}
.content-summary{
	background-color: #DADADA;
	padding-left: $space-2;
	padding-right: $space-2;
	margin-top: $space-4;
	padding-top: $space-2;
	position: sticky;
	top: 80px;
	.spTotal{
		color:black;
	}
	.content{
	width: 100%;
	}
}
.flexx{
	padding-left: 8px;
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	.nonn{
		display: none;
	}
	.widthh{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
    .content-summary{
		padding-right: $space-2;
		.content{
			padding-right: 0;
		}
	}
}
@media screen and (max-width: 600px) {
	table img {
		width: 64px;
	}
	table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr td:first-child {
           position: absolute;
       }
       tr td:nth-child(2) {
           padding-left: 88px;
       }
       tr td:nth-child(3) {
           position: absolute;
       }
       tr td:nth-child(4) {
       	padding-left: 70px;
       	display: inline-flex;
       }
       tr td:nth-child(5) {
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
       }
       .flexx{
       	width: 100%;
	       	.nonn{
	       		display: block;
	       		padding-left: $space-3;
	       		font-size: $space-2;
	       	}
	       	.widthh{
	       		width: 50%;
	       	}
       }
       .nonnone{
       		display: none;
       }
}